<div class="mr20 ml20" ng-controller="drawingsCtrl">
    <div class="buttonContainer fRight cWhite w-100 mt30">
        <button class="delete mt10 mb10 pl10 bRed fRight" ng-click='open("sm", 3)'><span class="glyphicon glyphicon-trash cWhite"></span></button>
        <button class="new mt10 mb10 pl20 bGreen mr10 fRight"><span class="mr5 plus cWhite">+</span>Add drawing</button>
    </div>

    <div ng-show="drawings.length > 0">
        <div class="scroll table table-striped table-hover table-bordered projectsTable">
            <div class="cDarkGray w-4"></div>
            <div class="cDarkGray w-6"><span class="ml5">Actions</span></div>
            <div class="cDarkGray w-25"><span class="ml5">Name</span>
                <span class="glyphicon glyphicon-chevron-down ml10 mr10 mouse" ng-show="!reverseParam.name" ng-click="sortBy('name')"></span>
                <span class="glyphicon glyphicon-chevron-up ml10 mr10 mouse" ng-show="reverseParam.name" ng-click="sortBy('name')"></span></div>
            <div class="cDarkGray w-16"><span class="ml5">Code</span>
                <span class="glyphicon glyphicon-chevron-down ml10 mr10 mouse" ng-show="!reverseParam.code" ng-click="sortBy('code')"></span>
                <span class="glyphicon glyphicon-chevron-up ml10 mr10 mouse" ng-show="reverseParam.code" ng-click="sortBy('code')"></span></div>
            <div class="cDarkGray w-25"><span class="ml5">Revisions</span>
                <span class="glyphicon glyphicon-chevron-down ml10 mr10 mouse" ng-show="!reverseParam.revisions" ng-click="sortBy('revisions')"></span>
                <span class="glyphicon glyphicon-chevron-up ml10 mr10 mouse" ng-show="reverseParam.revisions" ng-click="sortBy('revisions')"></span></div>
            <div class="cDarkGray w-10"><span class="ml5">Date</span>
                <span class="glyphicon glyphicon-chevron-down ml10 mr10 mouse" ng-show="!reverseParam.date" ng-click="sortBy('date')"></span>
                <span class="glyphicon glyphicon-chevron-up ml10 mr10 mouse" ng-show="reverseParam.date" ng-click="sortBy('date')"></span></div>
            <div class="cDarkGray w-10"><span class="ml5">Tasks</span></div>
            <div class="cDarkGray w-4 center"><span class="glyphicon glyphicon-ok okIcon bWhite p1"></span></div>
        </div>

        <div class="defactsTable">
            <div class="cLightGray table-striped" ng-repeat="drawing in drawings">
                <div class="w-4 tb-w center bWhite" ng-if="$even">
                    <span class="glyphicon glyphicon-save-file ml10 mr10 cDarkGray mouse"></span>
                </div>
                <div class="w-4 tb-w center bVeryLightYellow" ng-if="$odd">
                    <span class="glyphicon glyphicon-save-file ml10 mr10 cDarkGray mouse"></span>
                </div>

                <div class="w-6 tb-w bWhite" ng-if="$even">
                    <span class="glyphicon glyphicon-pencil icoml10 mr10n cDarkGray mouse ml20" ng-click='open("md", 2, drawing)'></span>
                    <span class="glyphicon glyphicon-trash ml10 mr10 ml5 cRed mouse" ng-click='open("sm", 1, drawing)'></span>
                </div>
                <div class="w-6 tb-w bVeryLightYellow" ng-if="$odd">
                    <span class="glyphicon glyphicon-pencil icoml10 mr10n cDarkGray mouse ml20" ng-click='open("md", 2, drawing)'></span>
                    <span class="glyphicon glyphicon-trash ml10 mr10 ml5 cRed mouse" ng-click='open("sm", 1, drawing)'></span>
                </div>

                <div class="w-25 tb-w bWhite" ng-if="$even"><span class="ml5">{{drawing.name}}</span></div>
                <div class="w-25 tb-w bVeryLightYellow" ng-if="$odd"><span class="ml5">{{drawing.name}}</span></div>

                <div class="w-16 tb-w bWhite" ng-if="$even"><span class="ml5">{{drawing.code}}</span></div>
                <div class="w-16 tb-w bVeryLightYellow" ng-if="$odd"><span class="ml5">{{drawing.code}}</span></div>

                <div class="w-25 tb-w bWhite" ng-if="$even"><span class="ml5">{{drawing.revisions}}</span></div>
                <div class="w-25 tb-w bVeryLightYellow" ng-if="$odd"><span class="ml5">{{drawing.revisions}}</span></div>

                <div class="w-10 tb-w bWhite" ng-if="$even"><span class="ml5">{{drawing.date}}</span></div>
                <div class="w-10 tb-w bVeryLightYellow" ng-if="$odd"><span class="ml5">{{drawing.date}}</span></div>

                <div class="w-10 tb-w bWhite" ng-if="$even">
                    <button type="button" class="btn btn-primary task pointerNone bLightBlue ml10">{{drawing.tasks[0]}}</button>
                    <button type="button" class="btn btn-warning task pointerNone bOrange">{{drawing.tasks[1]}}</button>
                    <button type="button" class="btn btn-info task pointerNone bPurple">{{drawing.tasks[2]}}</button>
                    <button type="button" class="btn btn-success task pointerNone bGreen" >{{drawing.tasks[3]}}</button>
                </div>
                <div class="w-10 tb-w bVeryLightYellow" ng-if="$odd">
                    <button type="button" class="btn btn-primary task pointerNone bLightBlue ml10">{{drawing.tasks[0]}}</button>
                    <button type="button" class="btn btn-warning task pointerNone bOrange">{{drawing.tasks[1]}}</button>
                    <button type="button" class="btn btn-info task pointerNone bPurple">{{drawing.tasks[2]}}</button>
                    <button type="button" class="btn btn-success task pointerNone bGreen" >{{drawing.tasks[3]}}</button>
                </div>

                <div class="w-4 tb-w center"><input class="mouse" ng-model="drawing.toBeDeleted" type="checkbox" checked></div>
            </div>
        </div>

        <uib-pagination class="row" ng-change="pageChanged()" force-ellipses="true" boundary-links="true" items-per-page="itemsPerPage" max-size="7" rotate="true" total-items="drawingsNr" ng-model="currentPage"></uib-pagination>
        <div class="btn-group">
            <div ng-click="pageChanged()" 
                 class="btn btn-page" 
                 ng-model="itemsPerPage" 
                 uib-btn-radio="10">
                10
            </div>
            <div ng-click="pageChanged()" 
                 class="btn btn-page" 
                 ng-model="itemsPerPage" 
                 uib-btn-radio="20">
                20
            </div>
            <div ng-click="pageChanged()" 
                 class="btn btn-page" 
                 ng-model="itemsPerPage" 
                 uib-btn-radio="35">
                35
            </div>
            <div ng-click="pageChanged()" 
                 class="btn btn-page" 
                 ng-model="itemsPerPage" 
                 uib-btn-radio="50">
                50
            </div>
        </div>
    </div>

    <div ng-show="drawings.length === 0">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            No data on project {{currentProject.name}}!
        </div>
    </div>
</div>